.quiz-container {
    background-color: rgba(167, 239, 167, 0.489);
    border: 2px solid black; 
    padding: 20px; 
    margin-top: 50px;;
  }
  
  .quiz-content {
    color: rgb(11, 11, 11); 
  }

body {
    font-family: Arial, sans-serif;
    background-color: #f3afaf;
    text-align: center;
    padding: 20px;
    
   
  }
 
  h1 {
    color: #41f02d;
  }
  
  form {
    margin-top: 20px;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(248, 118, 139);
    border-radius: 8px;
  }
  button:hover {
    background: linear-gradient( pink, red, yellow,blue);
  }
  
  p {
    font-size: 18px;
  }